.color1{
    background-color: rgb(184, 182, 185);
}

.color2{
    background-color: rgb(89, 91, 216);
}

.color3{
    background-color: rgb(197, 92, 54);
}

.color4{
    background-color: rgb(152, 212, 49);
}

.color5{
    background-color: azure;
}

.color6{
    background-color: chartreuse;
}

.car{
    width: 450px;
    height: 450px;
}




