
{% extends 'base.html' %}

{% block content %}


<br>
<br>
<div class="text-center container contenedor2">

    <h3>
        Lista de todos los trabajos en la categoría de camionetas.
    </h3>
    
</div>
<br>
<br>

<div>
        
    <hr>

    <br>
    <br>

    <div  class="container contenedor2">
        <table class="table">
            <th>
                <td>Título del Trabajo</td>
                <td>Mecánico</td>
                <td>Fecha del Trabajo</td>
                <td>Enlace</td>
            </th>
    
        </table>
    </div>

</div>

{% endblock %}
