
{% extends 'base.html' %} 
{% load static %}


{% block content2 %}


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Mecanicos
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for i in meca %}
        <li>
            <a class="dropdown-item" href="{% url 'meca' pk=i.id %}">
            {{i.first_name}} {{i.last_name}}
            </a>
        </li>
        {% endfor %}
    </ul>
</li>


{% endblock %}

{% block content %}


<main>

    <br>
    <br>

    <h2 class="text-center">Nuestros últimos trabajos.</h2>
    <br>
    <br>
    
    <div class="row">

        <div class="col-12">

        </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-8 contenedor3">
          
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="{% url 'trabajo' pk=1 %}">
                
                <img src="{% static 'media/1.jpg' %}" class="d-block w-100 car" alt="...">
              </a>
            </div>
            <div class="carousel-item">
              <a href="{% url 'trabajo' pk=2 %}">
                <img src="{% static 'media/2.webp' %}" class="d-block w-100 car" alt="...">
              </a>
              
            </div>
            <div class="carousel-item">
              <a href="{% url 'trabajo' pk=3 %}">
                
                <img src="{% static 'media/3.webp' %}" class="d-block w-100 car" alt="...">
              </a>
            </div>
            <div class="carousel-item">
              <a href="{% url 'trabajo' pk=4 %}">
                
                <img src="{% static 'media/4.webp' %}" class="d-block w-100 car" alt="...">
              </a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
      <div class="col-lg-2"></div>
    </div>
  </main>



  
  <br>
  <br>
  <br>
  <footer>

    <div class="container">

      <hr>
      <br>
      <br>
      <br>
      <div class="row contenedor3">
          



        <div class="col-6 text-center">

            <br>
            <br>
            <br>

          <label for="">Contacto Telefonico:</label>
          <br>
          <label for="">+562 2266 9988</label>
          <br><br>
          <label for="">Contacto por Correo:</label>
          <br>
          <label for=""><a href="contacto">Formulario de Ayuda</a></label>
          <br><br>
          <label for=""></label>

        </div>
        <div class="col-6 text-center">
          
          <label for="">Ubicanos en:</label>
          <br>
          <img class="mapa" src="{% static 'img-vid/mapa.jpg' %}" alt="">

        </div>

      </div>
    </div>
  </footer>





{% endblock %}
